@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors */

$Dark_cyan: hsl(158,
36%,
37%);
$Cream: hsl(30,
38%,
92%);
$Very_dark_blue: hsl(212,
21%,
14%);
$Dark_grayish_blue: hsl(228,
12%,
48%);
$White: hsl(0,
0%,
100%);

/* End colors */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*  font-family: "Fraunces", serif; */
    font-family: "Montserrat", sans-serif;
    background-color: $Cream;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 600px;
    height: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .imageContainer {
        flex: 1;
        width: 100%;
        height: 100%;
        picture,
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
        }
    }
    .textContainer {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $White;
        border-radius: 0 10px 10px 0;
        padding: 30px;
        .preTitle {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 14px;
            font-weight: 500;
            color: $Dark_grayish_blue;
            margin-bottom: 15px;
        }
        .title {
            font-family: "Fraunces", serif;
            font-weight: 900;
            color: $Very_dark_blue;
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 35px;
        }
        .subTitle {
            color: $Dark_grayish_blue;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        .priceContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 20px;
            .price {
                font-family: "Fraunces", serif;
                font-size: 36px;
                color: $Dark_cyan;
            }
            .anteriorPrice {
                margin-left: 20px;
                text-decoration: line-through;
                color: $Dark_grayish_blue;
                font-weight: 500;
                font-size: 14px;
            }
        }
        .addToCartButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border: none;
            font-family: inherit;
            color: $White;
            background-color: $Dark_cyan;
            border-radius: 8px;
            cursor: pointer;
            transition: all .2s;
            img {
                margin-right: 10px;
            }
            span {
                font-weight: 600;
            }
            &:hover {
                background-color: $Very_dark_blue;
            }
        }
    }
    @media(max-width: 768px) {
        flex-direction: column;
        .imageContainer {
            picture,
            img {
                border-radius: 10px 10px 0 0;
            }
        }
        .textContainer {
            height: auto;
            padding: 20px;
            border-radius: 0 0 10px 10px;
        }
    }
}